<footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <div class="row">
              <div class="col-12 text-center text-lg-left">
                <a class="logo" href="/">
                    <img src="{v:extension.path.resources(extensionName: 'lufedit_template')}/Image/footer_logo.png" alt="">
                </a><
                </div>
              <div class="col-12 text-center text-lg-left">
                <p>Dieser Webauftritt wurde mit größtmöglicher Sorgfalt<br> erstellt und überprüft. Der Herausgeber übernimmt<br> jedoch keinerlei Gewähr für die Aktualität.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="row">
              <div class="col-12">
                <ul class="menu d-flex justify-content-center justify-content-lg-end flex-wrap">
                  <li><a href="#">Über die Firma</a></li>
                  <li><a href="#">Dienstleistungen</a></li>
                  <li><a href="#">Katalog</a></li>
                  <li><a href="#">Kontaktdaten</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="contact d-flex justify-content-center justify-content-lg-end flex-wrap"><a class="tel" href="tel:0911 49 52 582">0911 49 52 582</a><a class="mail" href="mailto:info@lufed-it.de">mailto:info@lufed-it.de</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copright">
        <div class="container">
          <p class="text-center">© Copyright 2017, Nearshore Outsourcing, <span>lufed IT GmbH</span></p>
        </div>
      </div>
      <div class="quick-contact"><a class="mail" href="mailto:info@lufed-it.de" data-content="info@lufed-it.de"></a><a class="tel" href="tel:0911 49 52 582" data-content="0911 49 52 582"></a></div>
</footer>

<v:variable.set name="templatePath" value="{v:extension.path.resources(extensionName: 'lufedit_template')}" />


<v:asset.script path="{templatePath}Js/fancybox/dist/jquery.fancybox.min.js" movable="1" overwrite="1" standalone="1" trim="1"/>

<f:comment>
<v:asset.script path="fileadmin/template/cookie/cookieconsent.min.js" movable="1" overwrite="1" standalone="1" trim="1"/>
<v:asset.script path="fileadmin/template/cookie/cookieconsent.js" movable="1" overwrite="1" standalone="1" trim="1"/>
</f:comment>

<v:asset.script path="{templatePath}Js/common.js" movable="1" overwrite="1" standalone="1" trim="1"/>