<header>
    <div class="container topmenu">
        <div class="row">
            <div class="col-12 col-lg-2">
                <a class="logo" href="/">
                    <img src="{v:extension.path.resources(extensionName: 'lufedit_template')}/Image/logo.png" alt="">
                </a>
            </div>
          <div class="col-12 col-lg-7">
            <ul class="menu d-lg-flex justify-content-center justify-content-lg-end">
              <li class="active"><a href="#">Über die Firma</a></li>
              <li class="has-children"><a href="#">Dienstleistungen</a>
                <ul>
                  <li><a href="#">Softwareentwicklung</a></li>
                  <li><a href="#">Software Modernisierung</a></li>
                  <li><a href="#">Mobile Development</a></li>
                </ul>
              </li>
              <li><a href="#">Katalog</a></li>
              <li><a href="#">Kontaktdaten</a></li>
              <li class="phone d-lg-none d-flex justify-content-center align-items-center flex-wrap"><a href="tel:0911 49 52 582">0911 49 52 582</a></li>
              <li class="mail d-lg-none d-flex justify-content-center align-items-center flex-wrap"><a href="mailto:info@lufed-it.de">mailto:info@lufed-it.de</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-3">
            <div class="phone">
              <div class="phone-inner d-flex justify-content-end align-items-center"><a class="tel" href="tel:0911 49 52 582"></a><a class="request v2" href="#">Projekt anfragen</a></div>
            </div><a class="mobburger" href="javascript:void(0)"><span></span><span></span><span></span></a>
          </div>
        </div>
      </div>
    </header>