<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      flux:schemaLocation="http://lufed-it.de/_typo3/scheme/flux/flux-8.1.0.xsd"
      f:schemaLocation="http://lufed-it.de/_typo3/scheme/fluid/fluid-7.6.0.xsd"
      v:schemaLocation="http://lufed-it.de/_typo3/scheme/vhs/vhs-4.2.0.xsd">


    <f:render section="Main" arguments="{_all}" />

</html>